body{
    width: 555px;
	color: grey;
    border-left: black 2px solid;
}

div{
    width: 80%;
    background-color: azure;
    color: darkblue;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}